<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.paper.developwidget" >

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

         <activity
         android:name=".MainActivity"
         android:label="@string/app_name" >
         <!--<intent-filter> -->
         <!--<action android:name="android.intent.action.MAIN" /> -->


         <!--<category android:name="android.intent.category.LAUNCHER" /> -->
         <!--</intent-filter> -->
         <!--<intent-filter> -->
         <!--<action android:name="android.intent.action.MAIN"/> -->
         <!--<data android:host="AuthActivity" android:scheme="com.paper.hs" /> -->
         <!--</intent-filter> -->
         </activity>

        <receiver android:name=".RemotADBWidget" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.paper.dev.BT_REFRESH_ACTION" />
                <action android:name="com.paper.dev.SEARCH_ACTION" />
                <action android:name="com.paper.dev.BT_TEST_ACTION" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/remot_adbwidget_info" />
        </receiver>

        <service
            android:name=".MyService"
            android:enabled="true"
            android:exported="true" >
        </service>
    </application>

</manifest>
